*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:black;
    color:white;
}

/* HOME PAGE */

.hero{
    position:relative;
    width:100%;
    height:100vh;

    background-image:url("firstpage.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.overlay{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
}

/* NAVBAR */

.navbar{
    position:relative;
    z-index:2;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:30px 80px;
}

.navbar h2{
    font-size:32px;
}

.navbar ul{
    display:flex;
    list-style:none;
    gap:20px;
}

.navbar li{
    padding:12px 25px;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

.navbar li:hover{
    background:red;
}

/* HERO CONTENT */

.hero-content{
    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%, -50%);

    z-index:2;

    text-align:center;

    width:100%;
}

.hero-content h1{
    font-size:110px;
    line-height:110px;

    margin-bottom:25px;
}

.hero-content p{
    font-size:24px;

    margin-bottom:40px;

    color:#dddddd;
}

/* BUTTON */

.hero-content button{
    padding:18px 55px;

    border:none;
    border-radius:12px;

    background:red;
    color:white;

    font-size:18px;
    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}

.hero-content button:hover{
    background:white;
    color:black;
}

/* STATS */

.stats{
    margin-top:70px;

    display:flex;
    justify-content:center;

    gap:40px;
}

.stat-box{
    background:rgba(255,255,255,0.08);

    padding:25px 40px;

    border-radius:15px;
}

.stat-box h3{
    color:red;

    font-size:40px;

    margin-bottom:10px;
}

/* SECOND PAGE */

.body-page{
    width:100%;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:black;
}

.body-container{
    position:relative;

    width:100%;
    max-width:1400px;
}

.body-container img{
    width:100%;

    display:block;
}

/* BLACK DOTS */

.dot{
    position:absolute;

    width:35px;
    height:35px;

    background:black;

    border:4px solid white;

    border-radius:50%;

    z-index:9999;
}

/* DOT POSITIONS */

.chest-dot{
    top:33%;
    left:38%;
}

.arm-dot{
    top:43%;
    left:31%;
}

.leg-dot{
    top:72%;
    left:38%;
}